/* Sign-in Page Styling */

.container {
    display: flex;
}

.signin-form {
    width: 100%;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

/* Left Section - Welcome */
.left-section {
    background: linear-gradient(135deg, #b091d1, #cefdff);
    color: white;
    height: 100vh;
    width: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left-section h1 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-section p {
    font-size: 16px;
    opacity: 0.9;
    line-height: 1.5;
}

/* Right Section - Login Form */
.right-section {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}

.input-field {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: #f3f3f3;
    border-radius: 25px;
    font-size: 16px;
    padding-left: 15px;
}

.input-field:focus {
    outline: none;
    background: #e9e9e9;
}

.remember-container {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
    margin: 10px 0;
}

.remember-container input {
    margin-right: 5px;
}

.submit-button {
    width: 100%;
    background: linear-gradient(135deg, #6a11cb, #ee0979);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 25px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.submit-button:hover {
    background: linear-gradient(135deg, #ee0979, #6a11cb);
}

.redirect-text {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.link {
    color: #6a11cb;
    font-weight: bold;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline;
}


@media(max-width:768px){
    .signin-form {
        flex-direction: column;
    height: 100vh;
    }

    .left-section{
        padding:0;
        height:50vh;
    }
}

